 body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-image: url("images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contenedor{
    width: 30%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid rgb(17, 23, 105);
    background-color: rgb(217, 224, 243);
}
.contenedor h1{
    font-size: 25px;
    color: rgb(29, 28, 110);
    text-align: center;
}

.contenedor label, input, button{
    padding: 5px; 
    width: 35%; 
    text-align: center;
}
.contenedor label{
    color: rgb(29, 28, 110);
}
.contenedor button{
    cursor: pointer;
    margin: 1px solid rgb(29, 28, 110) ;
}
.contenedor button:hover{
    background-color: rgb(29, 28, 110);
    color: white;
}